<div class="site-branding">
	{% if logo_src %}
		<a href="{{ site.url|e('html_attr') }}" class="site-logo" rel="home">
			<img src="{{ logo_src | apply_filters('photon_url') | e('html_attr') }}" alt="{{ site.title|e('html_attr') }}" class="logo">
		</a>
	{% endif %}
	<div class="site-name">
		<h1><a href="{{ site.url|e('html_attr') }}" rel="home">{{ site.name }}</a></h1>
		<p>{{ site.description }}</p>
	</div>
</div>
