{% if menu_primary %}
	<div class="site-navigation">
		<nav class="site-primary-navigation" role="navigation">
			<button class="btn-trigger-primary-menu" data-toggle="dropdown-nested" data-target=".primary-menu">Menu</button>
			<ul class="primary-menu _bpback">
				{% for item in menu_primary.get_items %}
					<li class="{{ item.classes|join(' ')|e('html_attr') }}">
						{{ macros.menu_anchor(item) }}
						{% if item.get_children %}
							<ul class="dropdown-menu">
								{% for sub_item in item.get_children %}
									<li>{{ macros.menu_anchor(sub_item) }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
				<li class="scratchpad-toggle hidden"></li>
				<li><a href="/inventory/search"><i class="icon-search"></i></a></li>
			</ul>
		</nav>
	</div>

	{% if mobile_call_tracking %}
		<div class="mobile-call-tracking">
			{{ mobile_call_tracking }}
		</div>
	{% else %}
		<a href="tel:{{ phone_number|replace(' ', '-') }}" class="mobile-call">Call</a>
	{% endif %}
{% endif %}
