{% extends "widgets/base-widget.twig" %}

{%- block content -%}
	<section class="payment-calculator {{ custom_class }}">
		{% if title %}
			<div class="full-col">
				{% if title_type | default('h2') == 'h1' %}
					<h1>{{ title | e }}</h1>
				{% elseif title_type | default('h2') == 'h3' %}
					<h3>{{ title | e }}</h3>
				{% else %}
					<h2>{{ title | e }}</h2>
				{% endif %}
			</div>
		{% endif %}

		<div id="payment-calculator-container">
			<form id="paymentCalc" action="#">
				<ul>
					<li>
						<label for="vehicle_price">Vehicle Price ($)</label>
						<input id="vehicle_price" type="text" value="" name="vehicle_price" />
					</li>
					<li>
						<label for="down_payment">Down Payment / Trade Value ($)</label>
						<input id="down_payment" type="text" name="down_payment" />
					</li>
					<li>
						<label for="sales_tax">Sales Tax (%)</label>
						<input id="sales_tax" type="text" name="sales_tax" value="12" />
					</li>
					<li>
						<label for="interest_rate">Interest Rate* (%)</label>
						<input id="interest_rate" type="text" name="interest_rate" value="6.99" />
					</li>
					<li>
						<label for="term">Term (months)</label>
						<select name="term" id="term">
							<option value="1">12</option>
							<option value="2">24</option>
							<option value="3">36</option>
							<option value="4">48</option>
							<option value="5">60</option>
							<option value="6">72</option>
							<option value="7" selected>84</option>
						</select>
					</li>
					<li>
						<label for="payment_frequency">Payment Frequency</label>
						<select name="payment_frequency" id="payment_frequency">
							<option value="bi-weekly">Bi-weekly</option>
							<option value="monthly">monthly</option>
						</select>
					</li>
				</ul>
				<div>
					<span class="payments">$0</span>
					<button id="calculate" class="calcPayment btn btn-primary" type="submit">Calculate</button>

					{% if disclaimer %}
						<p>{{ disclaimer | e }}</p>
					{% endif %}
				</div>
			</form>
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="{{function('bloginfo','template_directory')}}/assets/src/js/payment-calc.js"></script>
{%- endblock -%}
