{% extends "widgets/base-widget.twig" %}

{% set section_class = 'no-bg' %}
{% if background_image_src %}
	{% set section_class = 'has-background-img' %}
{% endif %}

{% set content_position = content_position | default('left') %}
{% set title_type = title_type | default('h2') %}

{% block content %}
	<section class="colorblock-section {{ section_class | e('html_attr') }} {{ custom_class }}" style="{{ macros.background_image( background_image_src ) }} {{ macros.background_hex_value( background_hex_value ) }}">
		<div class="inner">
			<div class="title-block">
					{% if title %}
						<{{ title_type }}>{{ title | e }}</{{ title_type }}>

						{% if subtitle -%}
							{{ subtitle | apply_filters('the_content') }}
						{%- endif -%}
					{% endif %}
			</div>

			<div class="content-block">
					{{ description | urldecode | apply_filters('the_content') }}
					{% if buttons -%}
						<p>
							{%- for btn in buttons -%}
								{{ macros.button( btn, btn.class ) }}
							{% endfor -%}
						</p>
					{%- endif %}
			</div>

			{% if content_image_src %}
				<div class="image-block">
					{{ macros.figure_block( content_image_src, title, content_figure_class, content_image_class ) }}
				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
