{% extends "widgets/base-widget.twig" %}

{% set title_type = title_type | default('h2') %}

{%- block content -%}
	<section class="three-column-layout {{ custom_class }}" style="{{ macros.background_hex_value( background_hex_value ) }}">
		<div class="container-optional">
			<div class="three-column">
				{% if title or subtitle %}
					<div class="full-col">
						<{{ title_type }}>{{ title | e }}</{{ title_type }}>

						{% if subtitle -%}
							{{ subtitle | apply_filters('the_content') }}
						{%- endif -%}
					</div>
				{% endif %}
				{% if content_left %}
					<div class="col">
							{{ content_left | urldecode | apply_filters('the_content') }}
					</div>
				{% endif %}
				{% if content_left %}
					<div class="col">
							{{ content_middle | urldecode | apply_filters('the_content') }}
					</div>
				{% endif %}
				{% if content_left %}
					<div class="col">
							{{ content_right | urldecode | apply_filters('the_content') }}
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{%- endblock -%}
