{% extends "widgets/base-widget.twig" %}

{% block content %}
	{% if title or subtitle or title_image_src -%}
		<div class="title-custom">
			{%- if title or subtitle -%}
				<h1>{{ title | e -}}
					{%- if subtitle -%}
						<small>{{ subtitle | e }}</small>
					{%- endif -%}
				</h1>
			{%- endif -%}
			{%- if title_image_src -%}
				{%- if title_image_url -%}
					<a href="{{ title_image_url | e('html_attr') }}">
				{%- endif -%}
					<img src="{{ title_image_src | apply_filters('photon_url') | e('html_attr') }}" alt="{{ title | e('html_attr') }}">
				{%- if title_image_url -%}
					</a>
				{%- endif -%}
			{%- endif -%}
		</div>
	{% endif %}
{% endblock %}
