{% extends "widgets/base-widget.twig" %}

{% set title_type = title_type | default('h3') %}
{% set title_display = title_display | default('top') %}
{% set add_quick_search = add_quick_search | default('quick-search-on') %}

{% block content %}
    <section class="quick-search-shortcode{% if title_display | default('top') == 'left' %} title-left{% endif %} {{ add_quick_search }} {{ custom_class }}" style="{{ macros.background_hex_value( background_hex_value ) }}">
        <div class="container">
            {% if title %}
            <div class="title-col">
                <{{ title_type }}>{{ title | e }}</{{ title_type }}>
        </div>
        {% endif %}

        {% if add_quick_search | default('off') == 'quick-search-on' %}
            <form name="quicksearchForm" action="/inventory/search" id="quicksearchForm">
                <div class="row">
                    <div class="type-col">
                        <select name="stock_type" class="form-control" required>
                            <option value>- Type -</option>
                        </select>
                    </div>
                    <div class="year-col">
                        <select name="year" class="form-control">
                            <option value>- Year -</option>
                        </select>
                    </div>
                    <div class="make-col">
                        <select name="make" class="form-control">
                            <option value>- Make -</option>
                        </select>
                    </div>
                    <div class="model-col">
                        <select name="model" class="form-control">
                            <option value>- Model -</option>
                        </select>
                    </div>
                    <div class="button-col">
                        <button for="quicksearchForm" type="submit" id="quickSearchSubmit" class="btn quick-search-button">{% if button_text %}{{ button_text | e }}{% else %}Search{% endif %}</button>
                    </div>
                </div>
            </form>
        {% elseif add_quick_search | default('off') == 'keyword-search-on' %}
            <form name="querySearchForm" action="/inventory/search" id="querySearchForm" class="keyword-search-form">
                <div class="row">
                    <div class="the-input">
                        <label class="sr-only" for="query">Find a vehicle</label>
                        <input class="form-control" type="text" name="query" placeholder="Search by make, model or keyword"/>
                    </div>
                    <div class="button-col">
                        <button for="querySearchForm" type="submit" id="quickSearchSubmit" class="btn quick-search-button">{% if button_text %}{{ button_text | e }}{% else %}Search{% endif %}</button>
                    </div>
                </div>
            </form>
        {% elseif add_quick_search | default('off') == 'both-search-on' %}
            <form action="/inventory/search" id="querySearchForm" class="both-keyword-search-form">
                <div class="row">
                    <div class="the-input">
                        <label class="sr-only" for="query">Find a vehicle</label>
                        <input class="form-control" type="text" name="query" placeholder="Search by make, model or keyword"/>
                    </div>
                    <div class="button-col">
                        <button type="submit" id="quickSearchSubmit" class="btn quick-search-button">{% if button_text %}{{ button_text | e }}{% else %}Search{% endif %}</button>
                    </div>
                </div>
            </form>
            <div class="or-class">
                OR
            </div>
            <form action="/inventory/search" id="quicksearchForm" class="both-quick-search-form">
                <div class="row">
                    <div class="type-col">
                        <select name="stock_type" class="form-control" required>
                            <option value>- Type -</option>
                        </select>
                    </div>
                    <div class="year-col">
                        <select name="year" class="form-control">
                            <option value>- Year -</option>
                        </select>
                    </div>
                    <div class="make-col">
                        <select name="make" class="form-control">
                            <option value>- Make -</option>
                        </select>
                    </div>
                    <div class="model-col">
                        <select name="model" class="form-control">
                            <option value>- Model -</option>
                        </select>
                    </div>
                    <div class="button-col">
                        <button type="submit" id="quickSearchSubmit" class="btn quick-search-button">{% if button_text %}{{ button_text | e }}{% else %}Search{% endif %}</button>
                    </div>
                </div>
            </form>
        {% endif %}

        {% for btn in buttons %}
            {{ macros.button( btn, btn.class ) }}
        {% endfor %}
        </div>
    </section>
{% endblock %}
