{% extends "widgets/base-widget.twig" %}

{% block content %}
	<section class="slant-stack {% if content_position == 'top' %}angled-bottom{% else %}angled-top{% endif %} {{ custom_class }}">

		<div class="slant-top" style="{% if content_position == 'top' %}{{ macros.background_image( background_image_src ) }}{% else %}{{ macros.background_hex_value( background_hex_value ) }}{% endif %}">
			<div class="slant-copy">
				{{ description | urldecode | apply_filters('the_content') }}
				
				<span class="button-block">
					{% for btn in buttons %}
							{{ macros.button( btn, btn.class ) }}
					{% endfor %}
				</span>
			</div>
		</div>

		<div class="slant-bottom" style="{% if content_position == 'top' %}{{ macros.background_hex_value( background_hex_value ) }}{% else %}{{ macros.background_image( background_image_src ) }}{% endif %}">
			<div class="slant-copy">
				{{ secondary_description | urldecode | apply_filters('the_content') }}

				<span class="button-block">
					{%- for btn in secondary_buttons -%}
							{{ macros.button( btn, btn.class ) }}
					{% endfor -%}
				</span>
			</div>
		</div>
	</section>
{% endblock %}
