{% if contact or social_googleplus or social_instagram or social_facebook or social_twitter or social_youtube %}
	<ul>
		{% if contact %}
			<li class="social_contact"><a href="{{ contact | e('html_attr') }}" target="_blank" title="Contact"></a></li>
		{% endif %}
		{% if social_instagram %}
			<li class="social_instagram"><a href="{{ social_instagram | e('html_attr') }}" target="_blank" title="Instagram"></a></li>
		{% endif %}
		{% if social_facebook %}
			<li class="social_facebook"><a href="{{ social_facebook | e('html_attr') }}" target="_blank" title="Facebook+"></a></li>
		{% endif %}
		{% if social_twitter %}
			<li class="social_twitter"><a href="{{ social_twitter | e('html_attr') }}" target="_blank" title="Twitter"></a></li>
		{% endif %}
		{% if social_youtube %}
			<li class="social_youtube"><a href="{{ social_youtube | e('html_attr') }}" target="_blank" title="Youtube"></a></li>
		{% endif %}
		{% if social_googleplus %}
			<li class="social_googleplus"><a href="{{ social_googleplus | e('html_attr') }}" target="_blank" title="Google+"></a></li>
		{% endif %}
	</ul>
{% endif %}
