{% import 'utilities/macros.twig' as macros -%}
<!DOCTYPE html>
<!--[if lt IE 10]><html {{ site.language_attributes }} class="nojs lt-ie10"><![endif]-->
<!--[if gte IE 10]><!--><html {{ site.language_attributes }} class="nojs"><!--<![endif]-->
<head>
	{{ function( 'do_action', 'quick_gtm_head' ) }}
	{% include 'components/head.twig' %}
	{{ function( 'do_action', 'quick_scripts_head' ) }}
	{{ post.get_field('head_insert') }}
	{% if post.get_field('single_style_sheet')|length > 0 %}
		<style id="single-page-css">
			{{ post.get_field('single_style_sheet') }}
		</style>
	{% endif %}
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NGKT4K');</script>
	{% block head %}{% endblock %}
</head>
<body class="{{ body_class }} {% if 'fr' in site.language %}fr-version{% endif %}">
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGKT4K"
	                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

	{{ function( 'do_action', 'quick_gtm_load' ) }}
	{{ function( 'do_action', 'quick_scripts_body_top' ) }}
	{{ function( 'do_action', 'strathcom_scripts_body_first' ) }}

	<div class="page-wrapper {{ enable_sticky_header ? 'sticky-header' : '' }} {{ enable_collapsible_header ? 'collapsible-header' : 'expanded-header' }}">

		{% block header %}
			{% include 'components/header.twig' %}
		{% endblock %}

		{% if block( 'featured_image' )|trim %}
			<div class="featured_image">
				{% block featured_image %}
					{% include 'components/featured-image.twig' with { classname: 'featured-image' } %}
				{% endblock %}
			</div>
		{% endif %}

		<main class="site-content layout-{{ page_layout|default( 'default' ) }}">

			{% block content %}
				<p>Sorry, there is no content available.</p>
			{% endblock %}
		</main>

		{% block footer %}
			{% include 'components/footer.twig' %}
		{% endblock %}

	</div><!-- .page-wrapper -->
	{{ wp_footer }}
	{{ function( 'do_action', 'quick_scripts_body_bottom' ) }}
	{{ post.get_field('body_insert') }}

	<!-- block footer_script -->
    {% block footer_script %}
		<script>
            jQuery(document).ready(function($) {
                // Google maps Script
                var googleMapBox = $('.google-map-container, #gmap-canvas');
                googleMapBox.wrap("<div class='google-map-wrap'></div>");
                googleMapBox.css("pointer-events", "none");
                $('.google-map-wrap').click(function () {
                    googleMapBox.css("pointer-events", "auto");
                });
                $('.google-map-wrap').mouseleave(function() {
                    googleMapBox.css("pointer-events", "none");
                });
            });
		</script>
    {% endblock %}
</body>
</html>
