<div class="site-branding">
	<a href="{{ site.url|e('html_attr') }}" class="site-logo {% if not logo_src -%} heading-only {%- endif %}" rel="home">
		{% if logo_src %}
			<img src="{{ logo_src | apply_filters('photon_url') | e('html_attr') }}" alt="{{ site.title|e('html_attr') }}" class="logo">
		{% endif %}
		<div class="text-logo">{{ site.name }}</div>
	</a>
</div>
<div class="mobile-call-tracking">
	{{ mobile_call_tracking }}
</div>
