{% if src or post.thumbnail %}
	<figure class="entry-image {{ classname }}">
		{% if wp.is_single %}
			<a href="{{ link|default( post.link ) }}">
				{% block entry_image %}
					<img src="{{ src | default( post.thumbnail.src( 'original' ) ) | apply_filters('photon_url') }}" alt="{{ alt|default( post.title|e( 'html_attr' ) ) }}">
				{% endblock %}
			</a>
		{% else %}
			{{ block( 'entry_image' ) }}
		{% endif %}
	</figure>
{% endif %}
