{% if vehicle.similar and vehicle.similar.vehicles %}
<section class="similar-products state-static">
	<h4>{{ vehicle.similar.text.similar_vehicles_in_stock | e( 'html' ) }}</h4>
		<ul class="slides">
			{% for svehicle in vehicle.similar.vehicles %}
				{% set stitleTrim = svehicle.trim.variation ? svehicle.trim.variation : '' %}
				{% set name =  svehicle.year ~ ' ' ~ svehicle.make ~ ' ' ~ svehicle.model ~ ' ' ~ stitleTrim %}
				<li>
					<a href="{{ svehicle.url | e('html_attr') }}" class="card-car">
						{% if svehicle.first_photo %}
							<figure>
								<img src="{{ svehicle.first_photo | apply_filters('photon_url') | e('html_attr') }}" alt="{{ name | e('html_attr') }}">
							</figure>
						{% endif %}
						<h5>{{ name | e( 'html' ) }}</h5>
						{% if svehicle.pricingData %}
							<strong class="price _bpcolor">
								{% if 0 == svehicle.pricingData.current %}
									{{ vehicle.no_price_text | e( 'html' ) }}
								{% else %}
									${{ svehicle.pricingData.current | number_format | e( 'html' ) }}
								{% endif %}
							</strong>
						{% endif %}
						{% if svehicle.pricingData and svehicle.pricingData.current != svehicle.pricingData.regular %}
							<strike class="retail-price">{{ svehicle.pricingData.regular | number_format | e( 'html' ) }}</strike>
						{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>
</section>
{% endif %}
