{% extends "base.twig" %}
{% set page_layout = 'sidebar-right' %}

{% block top_bar %}
	{% include 'components/featured-image.twig' with { classname: 'featured-image' } %}
	{% include 'components/top-bar.twig' %}
{% endblock %}

{% block content %}
	<div class="group" data-trigger="personalized-payments">
		<main class="group-content">
			<section class="payment-calculator">
				<form role="form" action="#" class="calculator">
					<input type="hidden" name="dealer_id" value="{{ dealership.id }}">
					<input type="hidden" name="acode" value="{{ vehicle.acode }}">
					<input type="hidden" name="price" value="{{ vehicle.pricingData.current_price }}">
					<input type="hidden" name="vehicle_make" value="{{ vehicle.make }}">
					<input type="hidden" name="vehicle_model" value="{{ vehicle.model }}">
					<input type="hidden" name="vehicle_year" value="{{ vehicle.year }}">
					<input type="hidden" name="vehicle_trim" value="{{ vehicle.trim }}">
					<input type="hidden" name="vehicle_vin" value="{{ vehicle.vin }}">
					<input type="hidden" name="stock_type" value="{{ vehicle.stock_type }}">
					<input type="hidden" name="stock_number" value="{{ vehicle.stock_number }}">
					<input type="hidden" name="finance-payment" value="{{ finance_payment }}">
					<input type="hidden" name="lease-payment" value="{{ lease_payment }}">

					<h2><span>{{ dealership.name }} </span>{{ text.calculator_title }}</h2>
					<h3>{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }} {{ vehicle.trim }}</h3>

					<fieldset class="initial-payment">
						<p class="form-group">
							<label for="input-trade-in-value">{{ text.trade_in_value }}</label>
							<span class="input-group">
								<span class="input-group-addon">{{ vehicle.pricingData.currency_symbol }}</span>
								<input type="number" name="trade-in-value" id="input-trade-in-value" min="0" value="0" class="form-control">
							</span>

							{% if find_trade_in_value_link_URL %}
								<a href="{{ find_trade_in_value_link_URL }}" class="find-trade-in-link">{{ text.find_trade_in_value_link }}</a>
							{% endif %}
						</p>
						<p class="form-group">
							<label for="input-owed-on-trade">{{ text.owed_on_trade }}</label>
							<span class="input-group">
								<span class="input-group-addon">{{ vehicle.pricingData.currency_symbol }}</span>
								<input type="number" name="owed-on-trade" id="input-owed-on-trade" min="0" value="0" class="form-control">
							</span>
						</p>
						<p class="form-group">
							<label for="input-cash-down">{{ text.down_payment }}</label>
							<span class="input-group">
								<span class="input-group-addon">{{ vehicle.pricingData.currency_symbol }}</span>
								<input type="number" name="cash-down" id="input-cash-down" min="0" value="{{ down_payment }}" class="form-control">
							</span>
						</p>
					</fieldset>

					<hr>

					<fieldset class="finance-terms">
						<legend>{{ text.pick_your_finance_terms }}</legend>
						<div class="form-group payment">
							<label>{{ text.monthly_payment_term }}</label>
							<div class="custom-radio-list">
								{% for term in finance_terms %}
									<p>
										<input type="radio" value="{{ term }}" name="finance-term" id="finance-term-{{ term }}" {% if term == default_finance_term %} checked {% endif %}>
										<label for="finance-term-{{ term }}">{{ term }}</label>
									</p>
								{%  endfor %}
							</div>
						</div>
						<p class="form-group rate">
							<label class="input-finance-rate">{{ text.our_best_rate }}</label>
							<span class="input-group">
								<input type="number" name="finance-rate" id="input-finance-rate" value="0" readonly="readonly" class="form-control">
								<span class="input-group-addon">{{ text.percent_APR }}</span>
							</span>
						</p>
					</fieldset>

					<hr>

					<fieldset class="lease-terms">
						<legend>{{ text.pick_your_lease_terms }}</legend>
						<div class="form-group payment">
							<label>{{ text.monthly_payment_term }}</label>
							<div class="custom-radio-list">
								{% for term in lease_terms %}
									<p>
										<input type="radio" value="{{ term }}" name="lease-term" id="lease-term-{{ term }}" {% if term == default_lease_term %} checked {% endif %}>
										<label for="lease-term-{{ term }}">{{ term }}</label>
									</p>
								{%  endfor %}
							</div>
						</div>
						<p class="form-group rate">
							<label class="input-lease-rate">{{ text.our_best_rate }}</label>
							<span class="input-group">
								<input type="number" name="lease-rate" id="input-lease-rate" value="0" readonly="readonly" class="form-control">
								<span class="input-group-addon">{{ text.percent_APR }}</span>
							</span>
						</p>
						<div class="form-group kms">
							<label>{{ text.estimated_yearly_kms }}</label>
							<div class="custom-radio-list">
								{% set i = 0 %}
								{% for yearly_kms, kms in estimated_yearly_kms %}
									{% set i = i + 1 %}
									<p>
										<input type="radio" value="{{ yearly_kms }}" name="est-yearly-kms" id="est-yearly-kms-{{ i }}" {% if yearly_kms == default_estimated_yearly_kms %} checked {% endif %}>
										<label for="est-yearly-kms-{{ i }}">{{ yearly_kms }}</label>
									</p>
								{%  endfor %}
							</div>
						</div>
						<p class="form-group residual">
							<label for="input-residual-of">{{ text.residual_of }}</label>
							<span class="input-group">
								<span class="input-group-addon">{{ vehicle.pricingData.currency_symbol }}</span>
								<input type="number" name="residual-of" id="input-residual-of" value="0" class="form-control" readonly="readonly">
							</span>
						</p>
					</fieldset>

					<div class="payment-summary">
						<h3>{{ text.payment_summary }}</h3>
						<hr>
						{% block payment_summary_details %}
							<ul>
								<li class="finance-summary">{{ text.finance_for }}
									<strong class="payment">
										{{ vehicle.pricingData.currency_symbol }}<span class="finance-payment">{{ finance_payment }}</span>
										<small class="finance-frequency">{{ finance_frequency }}</small>
									</strong>
									<span clas="details">
										{% set finance_term_markup = '<span class="finance-term">' ~ finance_term ~ '</span>' %}
										{{ text.for_n_months_at|format( finance_term_markup ) }} <span class="finance-rate">{{ finance_rate }}</span>%<sup>1</sup
									</span>
								</li>
								<li class="divider">{{ text.or }}</li>
								<li class="lease-summary">{{ text.lease_for }}
									<strong class="payment">
										{{ vehicle.pricingData.currency_symbol }}<span class="lease-payment">{{ lease_payment }}</span>
										<small class="lease-frequency">{{ lease_frequency }}</small>
									</strong>
									<span clas="details">
										{% set lease_term_markup = '<span class="lease-term">' ~ lease_term ~ '</span>' %}
										{{ text.for_n_months_at|format( lease_term_markup ) }} <span class="lease-rate">{{ lease_rate }}</span>%<sup>1</sup>
									</span>
								</li>
							</ul>
						{% endblock %}
					</div>

					<div class="next-steps">
						<h3>{{ text.next_steps }}</h3>
						<p>{{ text.next_steps_content|format( [ vehicle.year, vehicle.make, vehicle.model ]|join( ' ' ) ) }}</p>
					</div>

					<div class="button-section">
						{% block submit_button %}
							<button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target=".lead-form">{{ text.submit_details }}</button>
						{% endblock %}
						<p class="disclaimer-link">
							<a data-toggle="collapse" data-target=".incentive-disclaimer" href="#">{{ text.disclaimer }}</a>
						</p>
					</div>
				</form>

				<div class="lead-form collapse" aria-expanded="false">
					{% if lead_form != '' %}
						{% set form_shortcode = '[gravityform id="' ~ lead_form ~ '" title="true"]' %}
						{{ form_shortcode|shortcodes }}
					{% endif %}
				</div>

				<div class="incentive-disclaimer collapse" aria-expanded="false">
					<hr>
					{{ disclaimer }}
				</div>
			</section>
		</main>

		<aside class="group-sidebar">
			<div class="payment-summary">
				<img class="img-fluid" src="{{ vehicle.photo.url | apply_filters('photon_url') }}" alt="{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}">
				<h4>{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h4>
				{{ block( 'payment_summary_details' ) }}
				{{ block( 'submit_button' ) }}
			</div>
		</aside>

	</div>
{% endblock %}
